
.titulo__principal {
    font-family: var(--font-noto-sans);
    font-size: var(--txt-large);
}
.txt__small{
    font-family: var(--font-noto-sans);
    font-size: var(--txt-small);
    font-weight: 300;
}